asgiref==3.7.2
async-timeout==4.0.2
beautifulsoup4==4.12.2
Brotli==1.0.9
bs4==0.0.1
certifi==2023.5.7
chardet==5.2.0
charset-normalizer==3.1.0
dj-database-url==2.0.0
Django==4.2.3
django-debug-toolbar==4.1.0
django-redis==5.3.0
django-test==0.4030
gunicorn==21.2.0
idna==3.4
lxml==4.9.3
packaging==23.1
Pillow==10.0.0
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg2-binary==2.9.7
redis==4.6.0
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
whitenoise==6.5.0
