{% extends 'core/base.html' %}

{% block content %}
<div>
    <h1>Signup</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username:</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Email:</label><br>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password:</label><br>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Repeat password:</label><br>
            {{ form.password2 }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Role:</label><br>
            {{ form.role }}
        </div>

        {% if form.errors or form.non_field_errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% endif %}
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
