{% extends 'core/base.html' %}

{% block title %}History{% endblock %}
    
{% block content %}
    <h1>History</h1>
    <table class="table table-striped table-dark table-hover styled-table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price @ Purchase</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody class="">
            {% for transaction in transactions %}
            <tr>
                <!-- create a td of the transaction symbol that will link to the quote page, passing the symbol-->
                <td><a href="{% url 'core:quote' %}?symbol={{ transaction.symbol }}">{{ transaction.symbol }}</a></td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.purchase_price }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
    