{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
    
{% block content %}
    <!-- button that sends a post request to index so the dashboard will show-->
    {% if request.user.role == 'STUDENT' %}
    <form action="{% url 'core:index' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg m-2" type="submit">View Dashboard</button>
    </form>
    <table class="table table-striped table-dark table-hover styled-table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Purchase Price</th>
                <th>Current Price</th>
                <th>Value of Holding</th>
                <th>Profit/Loss</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.total_quantity }}</td>
                <td>${{ stock.purchase_price }}</td>
                <td>${{ stock.price }}</td>
                <td>${{ stock.totalValue }}</td>
                <td>${{ stock.profitLoss }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-dark table-hover styled-table">
        <thead>
            <tr>
                <th>Cash</th>
                <th>Overall Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{ request.user.student.cash }}</td>
                <td>${{ request.user.student.total_value }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

{% endblock %}
    