{% extends 'core/base.html' %}

{% block title %}Quote{% endblock %}
    
{% block content %}
    <div>
        <form action="." method="post">
            <div class="form-group"></div>
            {% csrf_token %}
            {{ form.symbol }}

            <!-- Display any form errors -->
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            </div>

            
            
            
            <button class="m-3 btn btn-primary" type="submit">Quote</button>
        </form>
    </div>
{% endblock %}