{% extends 'core/base.html' %}

{% block title %}Quote{% endblock %}
    
{% block content %}
    <div>
        <form action="." method="post">
            <div class="form-group"></div>
            {% csrf_token %}
            
            {% if preSymbol %}
                <input class="form-control" type="text" name="symbol" value="{{ preSymbol }}" required>
            {% else %}
                {{ form.symbol }}    
            {% endif %}
            

            <!-- Display any form errors -->
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            </div>

            
            
            {% if preSymbol %}
            <button class="m-3 btn btn-primary" type="submit" autofocus="autofocus">Quote</button>
            {% else %}
            <button class="m-3 btn btn-primary" type="submit">Quote</button>
            {% endif %}

        </form>
    </div>
{% endblock %}