{% extends 'core/base.html' %}

{% block title %}Classroom{% endblock %}
    
{% block content %}

<h1 class="text-center">Quiz for {{ lesson.title }}</h1>
<table class="table table-striped table-dark table-hover styled-table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Correct answer</th>
            <th>Wrong answer 1</th>
            <th>Wrong answer 2</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for question in quiz_questions %}
        <tr>
            <td>{{ question.question }}</td>
            <td>{{ question.correctAnswer }}</td>
            <td>{{ question.wrongAnswer1 }}</td>
            <td>{{ question.wrongAnswer2 }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="{% url 'classroom:editQuizQuestion' classroom.id lesson.id question.id %}" class="btn btn-outline-warning btn-sm" title="Edit question"><i class="material-symbols-outlined">edit</i></a>
                    <a href="#" class="btn btn-outline-danger btn-sm" title="Remove question" onclick="return confirm('Are you sure?');"><i class="material-symbols-outlined">delete</i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



            
{% endblock %}
