{% extends 'core/base.html' %}

{% block title %}Classroom{% endblock %}
    
{% block content %}

<style>
    .hidden {
        display: none;
    }
</style>

<div>
    <h1>Creating lesson for: {{ classroom.name }}</h1>
    <form action="." method="post" enctype="multipart/form-data">
        <div class="form-group"></div>
            {% csrf_token %}
            <div class="mb-3">
                <label class="inline-block mb-2">Status:</label><br>
                {{ form.status }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Order:</label><br>
                {{ form.order }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Title:</label><br>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Description:</label><br>
                {{ form.description }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Image:</label><br>
                {{ form.image }}
            </div>

            {% if objective_forms %}
            {{ objective_forms.management_form }}
            <div class="objective-form-list">
            {% for objective_form in objective_forms %}
                <div class="objective-form">
                    {{ objective_form.as_p }}
                </div>
            {% endfor %}
            </div>

            <div id="empty_objective_form" class="hidden"><hr>{{ objective_forms.empty_form.as_p }}</div>

            <button type="button" class="btn btn-primary" id="add-objective">Add Objective</button>
            {% endif %}

            <!-- Display any form errors -->
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% block button %}
        {% endblock %}
    </form>
</div>

<script>
    const addObjectiveButton = document.getElementById("add-objective");
    const totalNewObjectiveForms = document.getElementById("id_form-TOTAL_FORMS");
    const currentObjectiveForms = document.getElementsByClassName("objective-form");
    addObjectiveButton.addEventListener("click", add_new_form)

    function add_new_form(event) {
        if (event) {
            event.preventDefault();
        }
        const currentObjectiveFormCount = currentObjectiveForms.length;
        const objectiveFormTarget = document.getElementsByClassName("objective-form-list")[0];
        const emptyObjectiveForm = document.getElementById("empty_objective_form").cloneNode(true);
        emptyObjectiveForm.setAttribute("class", "objective-form");
        emptyObjectiveForm.setAttribute("id", `objectve-form-${currentObjectiveFormCount}`);
        const regex = new RegExp('__prefix__', 'g');
        emptyObjectiveForm.innerHTML = emptyObjectiveForm.innerHTML.replace(regex, currentObjectiveFormCount);
        totalNewObjectiveForms.setAttribute("value", currentObjectiveFormCount + 1);
        objectiveFormTarget.append(emptyObjectiveForm);
    }
</script>
{% endblock %}
