{% extends 'core/base.html' %}

{% block title %}{{ classroom.name }}{% endblock %}
    
{% block content %}
    <h1 id="classroom-name">{{ classroom.name }}</h1>
    <h2 id="teacher-name">{{ classroom.teacher.user.username }}</h2>

    <div class="table-responsive">
        <table class="table table-striped table-dark table-hover styled-table" id="student-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Overall Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for student in classroomStudents %}
                {% if student.user.username == request.user.username %}
                <tr class="active-row">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ student.user.username }}</td>
                    <td>${{ student.total_value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
    <h2>Lessons</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
    <table class="table table-striped table-dark table-hover styled-table" id="lesson-table">
        <thead>
            <tr>
                <th>Lesson</th>
                <th>Description</th>
                <th>Survey complete?</th>
                <th>Quiz complete?</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in classroomLessons %}
            <tr>
                <td><div class="fw-bold"><a href="{% url 'classroom:viewLesson' classroom.id lesson.id %}"><strong>{{ lesson.title }}</strong></a></div></td>
                <td>{{ lesson.description }}</td>
                <td>{% if lesson.completed_survey %}
                    Yes<i class="material-symbols-outlined text-success">Check_Circle</i>
                    {% else %}
                    <a href="{% url 'classroom:survey' classroom.id lesson.id %}" class="plain-link">No<i class="material-symbols-outlined text-danger">Unpublished</i></a>
                    {% endif %}
                </td>
                <td>{% if lesson.completed_quiz %}
                    <a href="{% url 'classroom:viewQuizResults' classroom.id lesson.id %}" class="plain-link">Yes<i class="material-symbols-outlined text-success">Check_Circle</i></a>
                    {% else %}
                    <a href="{% url 'classroom:takeQuiz' classroom.id lesson.id %}" class="plain-link">No<i class="material-symbols-outlined text-danger">Unpublished</i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    <script>
        intro.setOptions({
            steps: [
                {
                    element: '#classroom-name',
                    intro: 'This is the name of your classroom.',
                    position: 'top'
                },
                {
                    element: '#teacher-name',
                    intro: 'This is the name of your teacher.',
                    position: 'top'
                },
                {
                    element: '#student-table',
                    intro: 'This is a table of all the students in your class and their overall balance.',
                    position: 'top'
                },
                {
                    element: '#lesson-table',
                    intro: 'This is a table of all the lessons in your class.',
                    position: 'top'
                }
            ]
        });
    </script>
{% endblock %}