{% extends 'core/base.html' %}

{% block title %}{{ lesson.title }}{% endblock %}
    
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Quiz for: {{ lesson.title }}</h1>
        </div>
    </div>

<div>
    <table class="table table-striped table-dark table-hover styled-table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Your answer</th>
            </tr>
        </thead>
        <tbody>
            {% for response in quiz_responses %}
            <tr>
                <td>{{ response.question.question}}</td>
                <td>{{ response.question.answer }}</td>
                <td>{{ response.answer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}