{% extends 'core/base.html' %}

{% block title %}{{ lesson.title }}{% endblock %}
    
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ lesson.title }}</h1>
            <p><strong>{{ lesson.description }}</strong></p>
            {% for item in lesson_outline %}
            <hr>
            <p>{{ item.learning_objective }}</p>
            <p>{{ item.content }}</p>
            {% endfor %}
        </div>
        <div class="col-6 col-md-4">
            {% if lesson.image %}
                <img src="{{ lesson.image.url }}" alt="{{ lesson.title }}" class="img-fluid rounded" style="height: 10rem; width: 10rem;">
            {% endif %}
            <div class="row">
                <button class="btn btn-primary btn-block mt-2">Take Quiz</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}